header.postHeader {
	border-bottom: 2px solid black;
}

h1.postTitle {
	font-size: 300%;
	color: #114351;
	font-weight: bolder;
}

p.postDate {
	font-size: 150%;
}

p.postContent {
	margin-top: 40px;
}

article.articlePadding {
	padding-bottom: 200px;
}

a.postLink {
	color: blue;
	text-decoration: none;
}
