---
layout: default
---

{% for post in site.posts offset: 0 limit: 5  %}
<article>

  	<header class="postHeader">
    	<h1 class="postTitle">{{ post.title }}</h1>
    	<p class="postDate">{{ post.date | date_to_long_string }}</p>
  	</header>

  	<p class="postContent">
    	{% if post.description %}
        {{ post.description}}
        {% else %}
        {{ post.excerpt }}
        {% endif %} 
        <a class="readMore" href="{{ post.url | prepend: site.baseurl }}">»</a>
  	</p>

</article>
{% endfor %}
