<div class="navigation">
  <ul>
    <li><a href="{{site.baseurl}}/">HOME</a></li>

    <li class="has-sub"><a href="#">POSTS</a>
      <ul>
        {% for category in site.categories %}    
          <li class="has-sub"><a href="#">{{ category | first }}</a>
            <ul>
              {% for post in category.last %}
                <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
              {% endfor %} 
            </ul>
          </li>
        {% endfor %}
       </ul>
    </li>

    <li><a href="{{site.baseurl}}/arhive.html">ARHIVE</a></li>
    <li><a href="{{site.baseurl}}/about.html">ABOUT</a></li>
  </ul>
</div>
